/* A Flexbox container is an element who has Flexbox items on it */
/* To fix the footer placement issue, we need to tell the container to use all the available space */
.flex-container {
    display: flex; /* Display all the elements in a flex mode */
    min-height: 100vh; /* VH is the measurement unit of the viewport */
    flex-direction: column; /* Place all the elements like columns */
}

/* A Flexbox item is an element who can be placed inside a Flexbox container */
.flex-item {
    flex: 1; /* This tells that all the elements with the flx-item class are the first element to be placed */
}