.grid-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main" "footer";
}

.header-grid-container {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas: "website-banner" "website-name" "login-form";
}

.header-cover-grid-container {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas: "website-banner" "website-name" "user-info-panel" "navigation-panel";
}

.main-grid-container {
    display: grid;
    grid-template-areas: "showcase" "register-form" "contact-information";
}

.main-cover-grid-container {
    display: grid;
    grid-template-areas: "all-users" "last-posts" "connected-users";
}

#all-users {
    grid-area: all-users;
}

#last-posts {
    grid-area: last-posts;
}

#connected-users {
    grid-area: connected-users;
}

#connected-users-list,
#all-users-list,
#last-posts-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.post-card article {
    display: grid;
    grid-template-areas:
            "post-card-user"
            "post-card-user-photo"
            "post-card-title"
            "post-card-time"
            "post-card-content";
}

.post-card-user {
    grid-area: post-card-user;
    justify-self: center;
}

.post-card-user-photo {
    grid-area: post-card-user-photo;
    justify-self: center;
}

.post-card-time {
    grid-area: post-card-time;
    justify-self: right;
}

.post-card-title {
    grid-area: post-card-title;
    text-align: left !important;
    justify-self: center;
}

.post-card-content {
    grid-area: post-card-content;
}

/* Structure of forms, using CSS3 Flexbox */
/* The forms' elements are laid out in a column mode */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The label is always the first shown element */
label {
    flex: 1;
}

/* The input is always the second shown element */
input {
    flex: 2;
}

/* Structure of navigation class, using CSS3 Flexbox */
/* Based on a mobile-first approach, the navigation buttons
   are laid out in a column mode when visiting the website on a mobile device */
.navigation {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
}

/* When visiting the website using a tablet,
   display navigation buttons using all the width of the screen */
@media (min-width: 768px) {
    .navigation {
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

/* When visiting the website using a desktop screen,
   display navigation buttons at the center of the screen in a row mode */
@media (min-width: 1024px) {
    .navigation {
        flex-flow: row wrap;
        justify-content: center;
    }
}