html {
	font-family: 'Raleway', sans-serif;
}

body {
	/*background: #000 url('forest.jpg') no-repeat left top;*/
}

h1 {
	color: dodgerblue;
	text-shadow: 1px 1px 1px grey;
}

p.warning {
	color: red;
	background-color: beige;
	text-align: center;
	font-weight: bolder;
	text-shadow: 1px 1px 1px grey;
	text-transform: uppercase;
	box-shadow: 1px 1px 5px dimgrey;
	line-height: 50px;
}

a:link {
	color:#FF0000;
	text-decoration:none;
}

a:visited {
	background-color:#FFFF85;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a:active {
	text-decoration:underline;
}

table {
	color: lightskyblue;
}

table, td, th {
	border: solid;
	border-width: thin;
	margin: 10px;
	padding: 10px;
}

td, th {
	padding: 10px;
}

td {
	color: orange;
}