html {
	font-family: 'Raleway', sans-serif;
}

header {
	margin: 10px;
	padding: 10px;
	background-color: orange;
	display: block;
}

section {
	margin: 10px;
	padding: 10px;
	background-color: orange;
	display: block;
	float: left;
}

footer {
	margin: 10px;
	padding: 10px;
	background-color: orange;
}